<div class="w-full">
  <div class="flex justify-center w-full pt-50">
    <h1 class="text-xl">Quienes Somos</h1>
  </div>
  <div class="flex justify-center mx-12"><p class="text-center">Alumnos dedicados del ciclo de Desarrollo de Aplicaciones Web con la missión de poder proporcionar páginas web de alta calidad a quien lo necesite.</p></div>


  <div class="mt-60 flex flex-col items-center">
    <!--Proven-->
    <div class="w-full text-center flex flex-col justify-center items-center">
      <!--Img component-->
      <img src="/img/Logo-Provençana-sbg-white.png" alt="Logo Provençana" class="w-[15rem]">
      <h2>Institut Provençana</h2>
      <div class="mt-50 p-10 mx-0 sm:mx-10 flex justify-around flex-wrap w-[60%] gap-35">
        <!--Personas Cards-->
        <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
          <div class="mb-5">
            <!--<p class="text-[1.5rem]">IMAGEN</p>-->
            <img src="/img/default_pfp.jpg" alt="Junior Uzama" class="img-fluid rounded-2xl">

          </div>
          <div class="flex flex-nowrap justify-between">
            <div>
              <p class="text-[2.5rem] font-semibold text-left">Junior Uzama</p>
              <p class="text-[0.8rem] text-left">Estudiante y Desarrollador Fullstack</p>
            </div>
          </div>
        </div>

        <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
          <div class="mb-5">
            <!--<p class="text-[1.5rem]">IMAGEN</p>-->
            <img src="/img/default_pfp.jpg" alt="Joel Páez" class="img-fluid rounded-2xl">

          </div>
          <div class="flex flex-nowrap justify-between">
            <div>
              <p class="text-[2.5rem] font-semibold text-left">Joel Páez</p>
              <p class="text-[0.8rem] text-left">Estudiante y Desarrollador Fullstack</p>
            </div>
          </div>
        </div>


        <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
          <div class="mb-5">
            <!--<p class="text-[1.5rem]">IMAGEN</p>-->
            <img src="/img/default_pfp.jpg" alt="Elena Almería" class="img-fluid rounded-2xl">

          </div>
          <div class="flex flex-nowrap justify-between">
            <div>
              <p class="text-[2.5rem] font-semibold text-left">Elena Almería</p>
              <p class="text-[0.8rem] text-left">Estudiante y Desarrollador Fullstack</p>
            </div>
          </div>
        </div>

        <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
          <div class="mb-5">
            <!--<p class="text-[1.5rem]">IMAGEN</p>-->
            <img src="/img/default_pfp.jpg" alt="Izan Alejo" class="img-fluid rounded-2xl">

          </div>
          <div class="flex flex-nowrap justify-between">
            <div>
              <p class="text-[2.5rem] font-semibold text-left">Izan Alejo</p>
              <p class="text-[0.8rem] text-left">Estudiante y Desarrollador Fullstack</p>
            </div>
          </div>
        </div>
        <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
          <div class="mb-5">
            <!--<p class="text-[1.5rem]">IMAGEN</p>-->
            <img src="/img/default_pfp.jpg" alt="Eduardo Rubio" class="img-fluid rounded-2xl">

          </div>
          <div class="flex flex-nowrap justify-between">
            <div>
              <p class="text-[2.5rem] font-semibold text-left">Eduardo Rubio</p>
              <p class="text-[0.8rem] text-left">Estudiante y Desarrollador Fullstack</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--UPC-->
    <div class="flex justify-center mt-40">
      <div class="w-full text-center flex flex-col justify-center items-center">
        <img src="/img/upc-logo.png" alt="Logo Universitat Politècnica de Catalunya" class="w-[9rem] mb-[2.2rem]">

        <!--Img component-->
        <h2>Universitat Politècnica de Catalunya</h2>
        <div class="mt-50 p-10 flex justify-around flex-wrap  md:w-[65%] w-[40%] gap-50">
          <!--Personas Cards-->
          <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
            <div class="mb-5">
              <!--<p class="text-[1.5rem]">IMAGEN</p>-->
              <img src="/img/default_pfp.jpg" alt="Pau Garzón" class="img-fluid rounded-2xl">

            </div>
            <div class="flex flex-nowrap justify-between">
              <div>
                <p class="text-[2.5rem] font-semibold text-left">Pau Garzón</p>
                <p class="text-[0.8rem] text-left">Estudiante de la UPC</p>
              </div>
            </div>
          </div>

          <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
            <div class="mb-5">
              <!--<p class="text-[1.5rem]">IMAGEN</p>-->
              <img src="/img/default_pfp.jpg" alt="Oscar Tobarra" class="img-fluid rounded-2xl">

            </div>
            <div class="flex flex-nowrap justify-between">
              <div>
                <p class="text-[2.5rem] font-semibold text-left">Oscar Tobarra</p>
                <p class="text-[0.8rem] text-left">Estudiante de la UPC</p>
              </div>
            </div>
          </div>

          <div class="p-5 w-80 rounded-2xl outline-1 outline-solid border-solid border-3 border-[#490981] flex flex-col flex-initial">
            <div class="mb-5">
              <!--<p class="text-[1.5rem]">IMAGEN</p>-->
              <img src="/img/default_pfp.jpg" alt="Jorge Rodri" class="img-fluid rounded-2xl">

            </div>
            <div class="flex flex-nowrap justify-between">
              <div>
                <p class="text-[2.5rem] font-semibold text-left">Jorge Rodriguez</p>
                <p class="text-[0.8rem] text-left">Estudiante de la UPC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
